:host {
	display: grid;
	grid-template-columns: auto;
	justify-items: center;
	h2 {
		margin-top: 1rem;
	}
	.scoreSheet {
		display: grid;
		grid-template-columns: auto auto;
		gap: 1rem;
		.scoreBox {
			display: grid;
			grid-template-columns: auto auto auto auto auto;
			gap: 1rem;
			justify-content: start;
			padding: 0.5rem 0;
			.column {
				display: grid;
				grid-template-columns: auto;
				gap: 0.5rem;
				justify-items: end;
				min-width: 30px;
				border-left: 1px solid Grey;
				p {
					margin: 0;
				}
				.setIndex {
					color: hsl(0, 0%, 60%);
					border-bottom: 1px solid Grey;
				}
			}
		}
	}
}