<h2>Add new match</h2>

<form [formGroup]="addNewMatchForm">
	<!-- MATCHUP INPUTS - PLAYER NAMES -->
	<div class="matchup">
		<h3>Matchup</h3>
		<mat-form-field appearance="outline">
			<mat-label>Player 1</mat-label>
			<mat-select formControlName="playerHome">
				<mat-option
					*ngFor="let player of players$ | async"
					[value]="player.name"
					>{{ player.name }}
				</mat-option>
			</mat-select>
			<mat-icon matPrefix>person</mat-icon>
		</mat-form-field>
		<mat-form-field appearance="outline">
			<mat-label>Player 2</mat-label>
			<mat-select formControlName="playerAway">
				<mat-option
					*ngFor="let player of players$ | async"
					[value]="player.name"
				>
					{{ player.name }}
				</mat-option>
			</mat-select>
			<mat-icon matPrefix>person</mat-icon>
		</mat-form-field>
		<p *ngIf="checkNameMatchError()" class="error">
			You must select two different players!
		</p>
	</div>

	<!-- SET INPUTS -->
	<div *ngFor="let set of [].constructor(5); index as setIndex" class="set">
		<h3>Set {{ setIndex + 1 }}</h3>
		<mat-form-field appearance="outline">
			<input
				matInput
				formControlName="{{ 'set' + (setIndex + 1) + 'scoreHome' }}"
				type="number"
				min="0"
			/>
		</mat-form-field>
		<mat-form-field appearance="outline">
			<input
				matInput
				formControlName="{{ 'set' + (setIndex + 1) + 'scoreAway' }}"
				type="number"
				min="0"
			/>
		</mat-form-field>
		<p *ngIf="checkPtsDifferenceError(setIndex + 1)" class="error">
			Set must end with winning player gaining at least 11 points while leading
			with at least 2 point margin!
		</p>
	</div>

	<!-- FORM SUBMIT BUTTON -->
	<button
		[disabled]="addNewMatchForm.invalid"
		(click)="onSubmit($event)"
		mat-raised-button
		color="primary"
		type="button"
	>
		<mat-icon matPrefix>add</mat-icon>Add Match
	</button>
</form>
