<h3>Add new match</h3>

<form [formGroup]="addNewMatchForm">
	<mat-form-field appearance="outline">
		<mat-label>Player 1</mat-label>
		<mat-select formControlName="playerHome" required>
			<mat-option *ngFor="let player of players$ | async" [value]="player.name">
				{{ player.name }}
			</mat-option>
		</mat-select>
		<mat-icon matPrefix>person</mat-icon>
	</mat-form-field>

	<mat-form-field appearance="outline">
		<mat-label>Player 2</mat-label>
		<mat-select formControlName="playerAway" required>
			<mat-option *ngFor="let player of players$ | async" [value]="player.name">
				{{ player.name }}
			</mat-option>
		</mat-select>
		<mat-icon matPrefix>person</mat-icon>
	</mat-form-field>

	<p *ngIf="checkNameMatch()" class="passMatchError">You must select two different players!</p>

	<button mat-raised-button color="primary" type="button">Submit</button>
</form>
