<h3>Set {{ setIndex }}</h3>

<form [formGroup]="setForm">
	<mat-form-field appearance="outline">
		<input
			matInput
			formControlName="scoreHome"
			type="number"
			min="0"
		/>
	</mat-form-field>
	<mat-form-field appearance="outline">
		<input
			matInput
			formControlName="scoreAway"
			type="number"
			min="0"
		/>
	</mat-form-field>
</form>

<p *ngIf="checkPtsDifferenceError()" class="error">
	Set must end with winning player gaining 11 points with at least 2 point margin --OR-- by gaining more than 11 points with exactly 2 point margin.
</p>