<p>Set {{ setIndex }}</p>

<form [formGroup]="setForm">
	<mat-form-field appearance="outline">
		<input
			matInput
			formControlName="scoreHome"
			type="number"
			min="0"
		/>
	</mat-form-field>
	<mat-form-field appearance="outline">
		<input
			matInput
			formControlName="scoreAway"
			type="number"
			min="0"
		/>
	</mat-form-field>
</form>

<p *ngIf="checkPtsDifferenceError()" class="error">
	Set must end with winning player gaining at least 11 points while leading with at least 2 point margin!
</p>