.addNew {
	margin: auto;
	display: block;
	margin-bottom: 1rem;
}
table {
  width: 100%;
	* {
		font-size: 1rem;
	}
	th {
		font-weight: bold;
		margin-right: 1rem;
	}
	.mat-column-id {
		width: 20%;
	}
	.mat-column-name {
		width: 20%;
		a {
			font-weight: bold;
			text-decoration: none;
		}
	}
	.mat-column-age {
		width: 10%;
		text-align: right;
	}
	.mat-column-gamesPlayed {
		width: 30%;
		text-align: center;
	}
	.mat-column-setWins {
		width: 20%;
		text-align: center;
	}
}
.error {
	color: red;
}