.addNew {
	margin: auto;
	display: block;
	margin-bottom: 1rem;
}
table {
  width: 100%;
	* {
		font-size: 1rem;
	}
	th {
		font-weight: bold;
		margin-right: 1rem;
	}
	.mat-column-id {
		padding-right: 5%;
	}
	.mat-column-name {
		padding-left: 5%;
		padding-right: 5%;
	}
	.mat-column-age {
		padding-left: 5%;
		padding-right: 5%;
		text-align: right;
	}
	.mat-column-gamesPlayed {
		padding-left: 5%;
		padding-right: 5%;
		text-align: center;
	}
	.mat-column-setWins {
		padding-left: 5%;
		text-align: center;
	}
}
.error {
	color: red;
}