.addNew {
	margin: auto;
	display: block;
	margin-bottom: 1rem;
}
table {
  width: 100%;
	* {
		font-size: 1rem;
	}
	th {
		font-weight: bold;
		margin-right: 1rem;
	}
	.mat-column-id {
		width: 20%;
	}
	.mat-column-match {
		width: 20%;
		padding-right: 5%;
		text-align: right;
	}
	.mat-column-setScores {
		width: 60%;
		.scoreBox {
			display: grid;
			grid-template-columns: auto auto auto auto auto;
			gap: 1rem;
			justify-content: start;
			padding: 0.5rem 0;
			.column {
				display: grid;
				grid-template-columns: auto;
				gap: 0.5rem;
				justify-items: end;
				min-width: 30px;
				border-left: 1px solid Grey;
				p {
					margin: 0;
				}
				.setIndex {
					color: hsl(0, 0%, 60%);
					border-bottom: 1px solid Grey;
				}
			}
		}
	}
}
.error {
	color: red;
}