.addNew {
	margin: auto;
	display: block;
	margin-bottom: 1rem;
}
table {
  width: 100%;
	* {
		font-size: 1rem;
	}
	th {
		font-weight: bold;
		margin-right: 1rem;
	}
	.mat-column-id {
		width: 15%;
	}
	.mat-column-playerHome {
		width: 25%;
		text-align: right;
	}
	.mat-column-score {
		width: 15%;
		text-align: center;
	}
	.mat-column-playerAway {
		width: 25%;
	}
	.mat-column-editScore {
		width: 20%;
		text-align: center;
	}
}
.error {
	color: red;
}