<button
	mat-raised-button
	color="primary"
	class="addNew"
	[routerLink]="['/add-new-match']"
>
	<mat-icon>add</mat-icon>Add New Match
</button>

<div *ngIf="matchList$ | async as matchList; else errorGettingData">
	<table mat-table [dataSource]="matchList">
		<!-- Match-Id Column -->
		<ng-container matColumnDef="id">
			<th mat-header-cell *matHeaderCellDef>Match ID</th>
			<td mat-cell *matCellDef="let match">{{ match.id }}</td>
		</ng-container>

		<!-- Match Column -->
		<ng-container matColumnDef="match">
			<th mat-header-cell *matHeaderCellDef>Match</th>
			<td mat-cell *matCellDef="let match">
				<div class="column">
					<p>&nbsp;</p>
					<p>{{ match.playerHome }}</p>
					<p>{{ match.playerAway }}</p>
				</div>
			</td>
		</ng-container>

		<!-- Set-Scores Column -->
		<ng-container matColumnDef="setScores">
			<th mat-header-cell *matHeaderCellDef>Set Scores</th>
			<td mat-cell *matCellDef="let match">
				<div class="scoreBox">
					<div *ngFor="let set of match.sets; index as setIndex" class="column">
						<p class="setIndex">{{ "S" + (setIndex + 1) }}</p>
						<p *ngFor="let p of [].constructor(2); index as i">{{ set[i] }}</p>
					</div>
				</div>
			</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
	</table>
</div>

<ng-template #errorGettingData>
	<p class="error">Error getting data!</p>
</ng-template>
